

*{
    margin: 0px;
    padding:0;
}

body{
    text-align: center;
    padding: 100px 20px;
    background-image: url("https://shorturl.at/oFVV7");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    color:white;
    width: 100%;
    /* overflow: hidden; */
}

.header-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    `/*background: rgba(0, 0, 0, 0.5);*/
    z-index: 1;
}

.logo {

    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
    

}

.search-bar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    color:blue ;
    z-index: 2;
}

.search-bar input {
    padding: 12px 15px;
    border-radius: 25px;
    width: 280px;
    outline: none;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    color:white;
    text-align: center;
}

.search-bar input::placeholder {
    color: rgb(131, 125, 125);
}

.search-bar button {
    padding: 12px 20px;
    margin-left: 10px;
    background: #007bff;
    border: none;
    border-radius: 25px;
    color: black;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

.search-bar button:hover {
    background: #546577;
}

.current-conditions h2 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
   
    color:red;
}

/*Inta ayaan ka bilaabay  => hassan*/ 

  #current-conditions{
    width: 95%;
    display: flex;
    justify-content: center;
    background-color: #546577;
    margin-top: 0.5rem;
}

#current-conditions h2{
    color: #F9A602;
    padding-right: 4rem;
}  

.Weather-details {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.Weather-details .value {
    font-size: 24px;
    font-weight: bold;
}








/* Active Alerts */
.active-alerts {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:95%;
    margin: 10px auto;
    
    

}

.container {
    margin-top: 10px;
}

.alert {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 30 px;
    border-style:black-solid;
   
}

.alert-severe {
    background-color: #6c0909;
    color: white;
}

.alert-watch {
    background-color: #420909;
    color:white;
}

.alert-advisory {
    background-color: #522310;
    color:white;
}



